@import '_variables.scss';

/***** header *****/
.header-ohmyfood {
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: $header-dropshadow;

  .logo {
      width: 162px;
      padding-top: 20px;
      padding-bottom: 10px;
  }
}

/***** research & advertising *****/
.research-and-advertising {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/** advertising **/
.advertising {

    background-color: $background;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding : 40px 20px 55px 20px;

    .advertising-title {
        @extend .title;
        padding-bottom: 20px;
    }

    .advertising-paragraph {
        @extend .subcoment;
        font-size: 18px;
        padding-bottom: 30px;
    }
}

/***** fonctionnement *****/
.fonctionnement {
    padding: 40px 20px;

    .fonctionnement-title {
        @extend .title;
        padding-bottom: 28px;
    }

    .fonctionnement-cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

.fonctionnement-card {
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;

    .fonctionnement-card-number {
        background-color: $primary;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        font-size: 14px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -10px;
        z-index: 1;
    }

    .fonctionnement-card-content {
        @extend .small-title;
        font-size: 16px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $background;
        box-shadow: $cards-dropshadow;
        width: 100%;
        border-radius: 20px;
        padding-left: 35px;

        .fonctionnement-icon {
            color: $icon;
            padding-right: 25px;
        }
    }
}

/* Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
    .fonctionnement {
        
        align-items: center;
        width: 100%;
        
        .fonctionnement-cards {
            display: flex;
            flex-direction: row;
            width: 1080px;

            .fonctionnement-card {
                width: 33%;
            }
        }
    }
}

/***** restaurants *****/
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $background;
    padding: 60px 20px;
    gap: 28px;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.restaurant-card {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 251px;
    border-radius: 15px;
    box-shadow: $cards-dropshadow;

    .restaurant-card-sup {
        height: 66%;
        position: relative;

        .restaurant-card-sup-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0px 0px;
        }

        .restaurant-card-sup-button {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
        }
    }

    .restaurant-card-sub {
        height: 34%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 10px;
        border-radius: 0px 0px 15px 15px;

        h3 {
            @extend .small-title;
        }

        p {
            @extend .subcoment;
        }

        i {
            font-size: 22px;
            padding-top: -10px;
        }
    }
}

/* Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
    .restaurants {

        align-items: center;

        .restaurants-cards {
            width: 1080px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .restaurant-card{
                width: 500px;
            }
        }

    }
}

/***** footer *****/

.footer-ohmyfood {
    display: flex;
    flex-direction: column;
    padding: 28px 40px;
    gap: 7px;
    color: white;
    background-color: $grey;

    .footer-logo {
        width: 95px;
        margin-bottom: 13px;
        svg {
            fill: white;
        }
    }

    .footer-ul-partnership {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 16px;

        .footer-ul-partnership-li {
            display: flex;
            flex-direction: row;
            gap: 10px;
            font-weight: medium;
        }
        
    }

    .footer-ul-official {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-weight: lighter;
    }

    .footer-icon {
        font-size: 13px;
    }
}

@media (min-width: 1024px) {
    .footer-ohmyfood {
        flex-direction: row-reverse;
        padding: 60px 5% 30px ;

        .footer-ul-partnership {
            flex-direction: row;
        }

        .footer-ul-official {
            flex-direction: row;
        }

    }
}

/***** restaurant cart banner *****/

.restaurant-cart-banner {

    height: 275px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
    
}

/***** restaurant cart menu *****/

.restaurant-cart-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $background;
    border-radius: 25px 25px 0px 0px;
    padding: 40px 10px;
    margin-top: -40px;
    z-index: 1;
    position: relative;
    gap: 40px;
}

.restaurant-cart-menu-title-and-choice {
    display: flex;
    flex-direction: row;
}

.restaurant-cart-menu-section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .restaurant-cart-menu-section-title {
        font-size: 16px;
        font-weight: lighter;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0; /* Adjust this value to control the starting position of the border */
            width: calc(40px); /* Calculate the width of the border */
            border-bottom: 3px solid $tertiary;
        }
    }
}