/* color */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$tertiary-dark: #008766;
$background: #f6f6f6;
$grey: #353535;
$icon: #7E7E7E;
$location: #EAEAEA;

/* drop-shadow */
$button-dropshadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$button-dropshadow-enhanced: 0px 6px 12px 0px rgba(0, 0, 0, 0.30);
$header-dropshadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$cards-dropshadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

/* animations */
.fadein1 {
    animation: fade-in 1.5s ease-in-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
    }
}

.fadein2 {
    animation: fade-in 3.5s ease-in-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
    }
}

.fadein3 {
    animation: fade-in 4s ease-in-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
    }
}

.fadeout {
  animation: fade-out 3s linear forwards;

  @keyframes fade-out {

    from {
      display: flex;
    }

    to {
      display: none;
    }
    
  }
}

.favorite {
  height: 22px;
  fill: transparent;
  stroke-width: 40;
  stroke: black;

  &:hover {
  animation: filling 0.25s linear forwards;
  }

  @keyframes filling {

    from {
    fill: transparent;
    }
  
    to { 
    fill: black;
    }
  }

  &:not(:hover) {
    animation: unfilling 0.25s linear forwards;
  }

  @keyframes unfilling {

    from {
        fill: black;
    }

    to { 
        fill: transparent;
    }
  }

}


