/* General */
* {
  font-family: "Roboto", sans-serif;
  padding: 0%;
  margin: 0%;
}

main {
  width: 100%;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .main-container {
    align-items: center;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* font-variables */
.title, .fonctionnement-box .fonctionnement-title, .advertising .advertising-title {
  font-size: 24px;
  font-weight: bold;
}

.restaurant-cart-menu-title {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  padding-right: 28px;
}

.footer-title {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.subcoment, .restaurant-card .restaurant-card-sub p, .advertising .advertising-paragraph {
  font-size: 17px;
  font-weight: lighter;
}

.subcoment-cart {
  font-size: 15px;
  font-weight: lighter;
}

.small-title, .big-button, .restaurant-card .restaurant-card-sub h3, .fonctionnement-card .fonctionnement-card-content {
  font-size: 18px;
  font-weight: medium;
}

.price {
  font-size: 15px;
  font-weight: bold;
}

/* color */
/* drop-shadow */
/* animations */
.fadein1 {
  animation: fade-in 1.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein2 {
  animation: fade-in 3.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein3 {
  animation: fade-in 4s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  animation: fade-out 3s linear forwards;
}
@keyframes fade-out {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

.favorite {
  height: 22px;
  padding-top: -10px;
  fill: transparent;
  stroke-width: 40;
  stroke: black;
}
.favorite:hover {
  animation: filling 0.25s linear forwards;
}
@keyframes filling {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

/***** header *****/
.header-ohmyfood {
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.header-ohmyfood .header-arrow {
  font-size: 16px;
  width: 5%;
  margin-left: 5%;
}
.header-ohmyfood .logo-part {
  width: 90%;
}
.header-ohmyfood .logo, .header-ohmyfood .logo-restaurant {
  width: 162px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.header-ohmyfood .logo-restaurant {
  margin-left: 38%;
}

/***** research & advertising *****/
.research-and-advertising {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/** advertising **/
.advertising {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px 55px 20px;
}
.advertising .advertising-title {
  padding-bottom: 20px;
}
.advertising .advertising-paragraph {
  font-size: 18px;
  padding-bottom: 30px;
}

/***** fonctionnement *****/
.fonctionnement {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fonctionnement-box {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  width: 100%;
  align-self: center;
}
.fonctionnement-box .fonctionnement-title {
  padding-bottom: 28px;
}
.fonctionnement-box .fonctionnement-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fonctionnement-card {
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
}
.fonctionnement-card .fonctionnement-card-number {
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  z-index: 1;
}
.fonctionnement-card .fonctionnement-card-content {
  font-size: 16px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-radius: 20px;
  padding-left: 35px;
}
.fonctionnement-card .fonctionnement-card-content .fonctionnement-icon {
  color: #7E7E7E;
  padding-right: 25px;
}

/* Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
  .fonctionnement-box {
    width: 1080px;
  }
  .fonctionnement-box .fonctionnement-cards {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement-box .fonctionnement-cards .fonctionnement-card {
    width: 33%;
  }
}
/***** restaurants *****/
.restaurants {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.restaurants-box {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 28px;
  width: 100%;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurant-card {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurant-card .restaurant-card-sup {
  height: 66%;
  position: relative;
}
.restaurant-card .restaurant-card-sup .restaurant-card-sup-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.restaurant-card .restaurant-card-sup .restaurant-card-sup-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.restaurant-card .restaurant-card-sub {
  height: 34%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 10px;
  border-radius: 0px 0px 15px 15px;
}
/* Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
  .restaurants {
    width: 100%;
  }
  .restaurants-box {
    width: 1080px;
  }
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
  .restaurants-cards .restaurant-card {
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1089px) {
  .restaurants-cards .restaurant-card {
    width: 460px;
  }
}


/***** footer *****/
.footer-ohmyfood {
  display: flex;
  flex-direction: column;
  padding: 28px 0px;
  gap: 7px;
  color: white;
  background-color: #353535;
  width: 100%;
  padding-left: 20px;
}
.footer-ohmyfood .footer-logo {
  width: 95px;
  margin-bottom: 13px;
}
.footer-ohmyfood .footer-logo svg {
  fill: white;
}
.footer-ohmyfood .footer-ul-partnership {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 16px;
}
.footer-ohmyfood .footer-ul-partnership .footer-ul-partnership-li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: medium;
}
.footer-ohmyfood .footer-ul-official {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: lighter;
}
.footer-ohmyfood .footer-icon {
  font-size: 13px;
}

@media (min-width: 1024px) {
  .footer-ohmyfood {
    flex-direction: row-reverse;
    padding-top: 60px;
    padding-bottom: 25px;
  }
  .footer-ohmyfood .footer-ul-partnership {
    flex-direction: row;
    order: 2;
    padding-right: 40px;
  }
  .footer-ohmyfood .footer-ul-official {
    flex-direction: row;
    order: 1;
    padding-right: 80px;
  }
  .footer-ohmyfood .footer-title {
    padding-right: 60px;
  }
}
/***** restaurant cart banner *****/
.restaurant-cart-banner {
  height: 275px;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  position: relative;
}

/***** restaurant cart menu *****/
.restaurant-cart-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  padding: 40px 12px;
  margin-top: -40px;
  z-index: 1;
  position: relative;
  gap: 40px;
}
.restaurant-cart-menu .restaurant-cart-menu-big-button {
  width: 186px;
  align-self: center;
}

.restaurant-cart-menu-title-and-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.restaurant-cart-menu-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
}
.restaurant-cart-menu-section .restaurant-cart-menu-section-title {
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  position: relative;
}
.restaurant-cart-menu-section .restaurant-cart-menu-section-title:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.restaurant-cart-menu-article-and-checking {
  display: flex;
  flex-direction: row;
}
.restaurant-cart-menu-article-and-checking .checking {
  display: none;
  width: 10%;
  color: white;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
}
.restaurant-cart-menu-article-and-checking:hover .checking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10%;
  z-index: 0;
}
.restaurant-cart-menu-article-and-checking:hover .restaurant-cart-menu-article {
  border-radius: 15px 0px 0px 15px;
  margin-right: 10%;
  z-index: 1;
}

.restaurant-cart-menu-article {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  transition: margin-right 500ms;
}
.restaurant-cart-menu-article .restaurant-cart-menu-article-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
  .restaurant-cart-menu {
    width: 1055px;
    align-items: center;
  }
  .restaurant-cart-menu .restaurant-cart-menu-section {
    width: 684px;
  }
}
/* color */
/* drop-shadow */
/* animations */
.fadein1 {
  animation: fade-in 1.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein2 {
  animation: fade-in 3.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein3 {
  animation: fade-in 4s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  animation: fade-out 3s linear forwards;
}
@keyframes fade-out {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

.favorite {
  height: 22px;
  padding-top: -10px;
  fill: transparent;
  stroke-width: 40;
  stroke: black;
}
.favorite:hover {
  animation: filling 0.25s linear forwards;
}
@keyframes filling {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

/** buttons **/
.big-button {
  font-size: 16px;
  color: white;
  height: 50px;
  background: linear-gradient(45deg, #9356DC, #FF79DA);
  border-radius: 25px;
  padding: 0px 1.5em 0px 1.5em;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 0.5s, box-shadow 0.5s;
}
.big-button:hover {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}

.small-button {
  font-size: 14px;
  font-weight: medium;
  background: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

/**loader**/
.loader-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", serif;
  font-size: 30px;
}
.loader-box .loader {
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 30px;
  border: 8px solid rgba(0, 0, 0, 0.4);
  margin-right: 8px;
  margin-bottom: 8px;
}
.loader-box .loader::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border-radius: 30px;
  border: 8px solid transparent;
  border-top-color: black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .loader-box {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Shrikhand", serif;
    font-size: 50px;
  }
  .loader-box .loader {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 30px;
    border: 10px solid rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .loader-box .loader::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 30px;
    border: 10px solid transparent;
    border-top-color: black;
    animation: spin 1s linear infinite;
  }
}
/* color */
/* drop-shadow */
/* animations */
.fadein1 {
  animation: fade-in 1.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein2 {
  animation: fade-in 3.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein3 {
  animation: fade-in 4s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  animation: fade-out 3s linear forwards;
}
@keyframes fade-out {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

.favorite {
  height: 22px;
  padding-top: -10px;
  fill: transparent;
  stroke-width: 40;
  stroke: black;
}
.favorite:hover {
  animation: filling 0.25s linear forwards;
}
@keyframes filling {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

/*# sourceMappingURL=style.css.map */
